body {
  font-family: 'Courier New', Courier, monospace;
  color: #222;
  margin: 20px;
}

h2 {
  margin-top: 30px;
  font-size: 30px;
}

a {
  text-decoration: none;
}

a, a:hover, a:active, a:visited {
  color: #666;
}

p {
  line-height: 22px;
  margin-top: 18px;
  margin-bottom: 18px;
}

ul li {
  margin: 20px auto;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

footer {
  margin-top: 40px;
  font-size: 12px;
}